.sidebar{
    margin-top: 100px;
    background-color: #FFFFFF;  
}
.sidebar .maxHeight{
    height: calc(100vh - 100px); 
}
.sidebar .start-button{
    background-color: #0FCFFE;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    font-family: 'Avenir-Medium';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.47px;
    text-align: center;
    min-width: 140px;
    min-height: 35px;
    margin-left: 20px;
    margin-bottom:20px;
}

.sidebar .menu-items{
    margin-left: 5px
}

.sidebar .menu-items .items{
    display: flex;
    align-items: center;
    min-height: 35px;
    padding-left: 20px;
    border-left: 1px solid #FFFFFF;
    transition: all ease 0.3s;
    cursor: pointer;
}

.sidebar .menu-items .items:hover{
    background-color: rgba(15, 207, 254, 0.1);
    border-left: 1px solid #0FCFF0;
}

.sidebar .menu-items .items:hover p{
    color: #0FCFF0;
    font-family: 'Avenir-Medium';
    
}

.sidebar .menu-items .items p{
    margin: unset;
    font-family: 'Avenir-Light';
    font-size: 15px;
    color: #4a4a4a;
    letter-spacing: -0.44px;
    margin-left: 10px;
    margin-top: 4px;
}

.sidebar .sidebar-logo{
    bottom: 0px;
    position: absolute;
}

.sidebar .sidebar-logo .content{
    margin-top: 30px;
    display: flex;
    font-family: 'Avenir-Medium';
    color: #4a4a4a;
    letter-spacing: -0.44px;
    justify-content: space-around
}